.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:black;
}

.ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.mobile_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile_ul{
    text-align: start;
 list-style:none;
 padding-left: 0px;
}

.moblile_ul_li{
    margin-bottom: 20px;
}

@media screen and (max-width: 799px){
    .navbar{
        display: none;
    }
}

@media screen and (min-width:800px) {
    .mobile_navbar{
        display: none;
    }

    .mobile_ul{
        display: none;
    }
}

